.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.input-container {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
}
#check{
    cursor: pointer;
}
.imgOpacity{
    opacity: 0.5;
}
.inputOpacity {
    opacity: 1;
}

.image-container:hover {
    background-color: rgb(113 113 122);
}
.image-container:hover .image {
    opacity: 0.3;
}
.image-container:hover .input-container {
    opacity: 1;
}
.add-image:hover {
    background-color: rgb(113 113 122);
    transition: .5s ease;
    opacity: 0.3;
    cursor: pointer;
}